.vscode/**
.vscode-test/**
.gitignore
vsc-extension-quickstart.md
**/*.ts
**/tsconfig.json
**/tsconfig.base.json
contributing.md
node_modules/**

client/node_modules/@types/**
client/node_modules/.pnpm/**
client/node_modules/.bin/**
client/node_modules/@esbuild/**
client/node_modules/esbuild/**

server/node_modules/@types/**
server/node_modules/.pnpm/**
server/node_modules/.bin/**
server/node_modules/@esbuild/**
server/node_modules/esbuild/**